<!-- <p>angular works!</p> -->
<div class="container">
    <div  class="left-element">
        <div class="card-element"> 
        banca-sp <br>
       <img src="assets\img\Banca-sp.PNG" alt="" style="height: 100%; width: 100%; "><br>
       videos: <br>
       <a href="https://github.com/NessDisk/Banca-Sp">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>
  
        Tecnologias: TypeScript , Node/express, MySql. css, html, Bootstrack <br>    
    </div>
    </div>
</div>