<div class="continaer">
    <div class="index">
        <div class="tittle">

            <h2>____ Nombre __________</h2>

            <h4>____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                
            </h4><br>

            <H5>index</H5> <br>

            <H5>REDES ICONS</H5>
         
        </div>
        <div class="card"> 
                <p>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>            
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                </p>
            <br> <br>
            <div>
                Exp
            </div>
            <br><br>
            <div>
                proyectos
            </div>
            <br><br>
            <div>
                desccripcion protafolio
            </div>

        </div>
    </div>
</div>
