<div class="continaer">
    
    <div class="index" (mousemove)="moverElemento($event)">
        <div class="backgroundEffect" [style.left.px]="posX" [style.top.px]="posY"></div>
        <div class="tittle">
            
            <h2>____ Nombre __________</h2>
            
            <h4>____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                
            </h4><br>

        <div class="IndexSceamPosition" (mouseenter)="activarAnimacionMouseEnter(1)" (mouseleave)="desactivarAnimacion()"> <p class="animation"  [ngClass]="{'animacion-activa-1': mostrarAnimacion1}" ></p>  <p (click)="scrollToPoint(1)">Index 1</p></div> 
        <div class="IndexSceamPosition" (mouseenter)="activarAnimacionMouseEnter(2)" (mouseleave)="desactivarAnimacion()"> <p class="animation"  [ngClass]="{'animacion-activa-2': mostrarAnimacion2}" ></p>  <p (click)="scrollToPoint(2)">Index 2</p></div>
        <div class="IndexSceamPosition" (mouseenter)="activarAnimacionMouseEnter(3)" (mouseleave)="desactivarAnimacion()"> <p class="animation"  [ngClass]="{'animacion-activa-3': mostrarAnimacion3}" ></p>  <p (click)="scrollToPoint(3)">Index 3</p></div>

            <div class="icons-panel"> 
               <img class="icon-img" src="assets\img\icons\grey\github.png" >
               <img class="icon-img" src="assets\img\icons\grey\linkedin.png" >
               <img class="icon-img" src="assets\img\icons\grey\youtube.png" >
               <img class="icon-img" src="assets\img\icons\grey\itch.png" >
            </div>
         
        </div>
        <div class="card"> 
                <p>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>            
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                </p>
            <br> <br>
            <div>
                Exp
            </div>
            <br><br>
            <div>
                proyectos
                <div  *ngFor="let proyectname of getProyects()" >
                    <!-- <h2>{{ (projects[proyectname]) }}</h2> -->
                    <!-- <h2>{{  projects[proyectname]['tags'] }}</h2> -->

      
                        <app-card-proyect [tittle]="projects[proyectname]['title']"  [sumary]="projects[proyectname]['description']" [tagList]="getArrayToProyect(projects[proyectname]['tags'])" ></app-card-proyect>
               

                </div>
                <!-- <app-card-proyect [tittle]="titulo"  [sumary]="resumen" [tag1]="tagtest" ></app-card-proyect> -->
                <!-- <app-card-proyect></app-card-proyect>
                <app-card-proyect></app-card-proyect> -->
            </div>
            <br><br>
            <div>
                desccripcion protafolio
            </div>

        </div>
    </div>
    <!-- <div class="blur" (mousemove)="moverElemento($event)">
  
    
      </div> -->
</div>
