<div class="continaer">
    <div class="index">
        <div class="tittle">

            <h2>____ Nombre __________</h2>

            <h4>____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                ____ Mas informacion ____ <br>
                
            </h4><br>

        <div class="IndexSceamPosition" (mouseenter)="activarAnimacion(1)" (mouseleave)="desactivarAnimacion(1)"> <p class="animation"  [ngClass]="{'animacion-activa-1': mostrarAnimacion1}" ></p>  <p (click)="scrollToPoint(1)">Index 1</p></div> 
        <div class="IndexSceamPosition" (mouseenter)="activarAnimacion(2)" (mouseleave)="desactivarAnimacion(2)"> <p class="animation"  [ngClass]="{'animacion-activa-2': mostrarAnimacion2}" ></p>  <p (click)="scrollToPoint(2)">Index 2</p></div>
        <div class="IndexSceamPosition" (mouseenter)="activarAnimacion(3)" (mouseleave)="desactivarAnimacion(3)"> <p class="animation"  [ngClass]="{'animacion-activa-3': mostrarAnimacion3}" ></p>  <p (click)="scrollToPoint(3)">Index 3</p></div>

            <H5>REDES ICONS</H5>
         
        </div>
        <div class="card"> 
                <p>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>            
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                    mucho texto: ------------------------------------------  ------------------------------------------<br>
                </p>
            <br> <br>
            <div>
                Exp
            </div>
            <br><br>
            <div>
                proyectos
                <app-card-proyect></app-card-proyect>
                <app-card-proyect></app-card-proyect>
                <app-card-proyect></app-card-proyect>
            </div>
            <br><br>
            <div>
                desccripcion protafolio
            </div>

        </div>
    </div>
</div>
