/* DESKTOP VERSION */
.index{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
    
.card{
    border: 2px solid turquoise;
    padding-bottom: 2000px;
    margin-left: 510px;
    margin-right: 50px;
    /* margin-top: 50px; */
    /* padding-left: 300px; */
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

/*Titeles  */
.tittle{
    border: 2px solid turquoise;
    /* padding-bottom: 10px; */
    padding: 0px 200px 20px 20px ;  
    position: fixed;
    /* top: 5%; */
    left: 30px;
    /* top: -8px */
    

}

.IndexSceamPosition{
    display: flex;
    flex-direction: row;
}


.animation{

    width: 25px;
    height: 3px;
    left:  -100px;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    margin-top: 22px;
    background-color: #020202;
    transition: width 0.3s ease;

}

/* .animation:hover{

    width: 40px;

} */

.animacion-activa-1 {
    width: 40px;
  }

  .animacion-activa-2 {
    width: 40px;
  }

  .animacion-activa-3 {
    width: 40px;
  }