<div class="container">
<div  class="left-element">
    <div class="card-element"> 
    Blue Core X <br>
   <img src="assets\img\gd\inttro.PNG" alt="" style="height: 100%; width: 100%; "><br>
   <a href="https://wess-ds.itch.io/blue-core-x">   <img  height="15" src="assets\img\icons\itch-io.png" class="icon_link" alt="Null" > </a> Itch-io   <br> <br>
   Tecnologias: Unity, C#.
    </div>
</div>
<div class="right-element">
    <div class="card-element"> 
    Crewild <br>
    <img src="assets\img\gd\2.PNG" alt="" style="height: 100%; width: 100%; "><br>
    <a href="https://wess-ds.itch.io/crewild">   <img  height="15" src="assets\img\icons\itch-io.png" class="icon_link" alt="Null" > </a> Itch-io   <br> <br>
    Tecnologias: Unity, C#.
</div>
</div>
<div  class="left-element">
    <div class="card-element"> 
    Red Ocean <br>
    <img src="assets\img\gd\bullet-hell.png" alt="" style="height: 100%; width: 100%; "><br>
    <a href=" https://wess-ds.itch.io/red-ocean">   <img  height="15" src="assets\img\icons\itch-io.png" class="icon_link" alt="Null" > </a> Itch-io   <br> <br>
    Tecnologias: Unity, C#.
    </div>
 </div>

 <div  class="right-element">
    <div class="card-element"> 
    Dungeon Dosin <br>
    <img src="assets\img\gd\DDos.jpg" alt="" style="height: 100%; width: 100%; "><br>
    <a href=" https://github.com/NessDisk/Google-clone">   <img  height="15" src="assets\img\icons\itch-io.png" class="icon_link" alt="Null" > </a> Itch-io   <br> <br>
    Tecnologias: Unity, C#.
    </div>
 </div>
</div>