<div class="container">
<div  class="left-element">
    Blue Core X <br>
   <img src="assets\img\gd\inttro.PNG" alt="" style="height: 100%; width: 100%; "><br>
   videos: <br>
   <a href="https://wess-ds.itch.io/blue-core-x"> itch.io</a>  <br>
   Tecnologias: Unity, C#.

</div>
<div class="right-element">
    Crewild <br>
    <img src="assets\img\gd\2.PNG" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href="https://wess-ds.itch.io/crewild"> itch.io</a>  <br>
    Tecnologias: Unity, C#.

</div>
<div  class="left-element">
    Red Ocean <br>
    <img src="assets\img\gd\bullet-hell.png" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href=" https://wess-ds.itch.io/red-ocean"> itch.io</a>  <br>
    Tecnologias: Unity, C#.
 
 </div>

 <div  class="right-element">
    Dungeon Dosin <br>
    <img src="assets\img\gd\DDos.jpg" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>    
    <a href="https://github.com/NessDisk/Google-clone"> itch.io</a>  <br>
    Tecnologias: Unity, C#.
 </div>
</div>