
<div class="continaer">
        <div class="compTable" (mousemove)="moverElemento($event)">
            <div class="backgroundEffect" [style.left.px]="posX" [style.top.px]="posY"></div>

            <!-- <a  routerLink="/">
               <h2 class="linkStyle">back page  <div class="linkComparrowAnimation" [ngClass]="{linkCompMoveArrowAnimation:true}" >↗</div>  </h2>
                
            </a> -->
            <!-- <a (mouseenter)="enableHoverDetailsComeback()"  (mouseleave)="disenableHoverDetailsComeback()" routerLink="/" class="InfoCard_tittle InfoCard_tittle_Details" [ngClass]="{'InfoCard_tittle-hover': animationTittle}"  >      
              <div class="details_ArrowAnimation" [ngClass]="{details_MoveArrowAnimation: animationTittle}" >←</div>
              Nestor Solera
            </a > -->

            <h1 class="tittleDetails">
               Proyectos
            </h1>
            <div>
                <table  *ngIf=" movilVersion == false ; else elseBlock"  >
                    <tr class="encabezado">
                      <th  class="date-Style" >Año</th>
                      <th>Project</th>
                      <th class="create-col-Style">Creado con</th>
                      <th>Link</th>
                    </tr>
                    <tr *ngFor="let proyectname of getProyects()">
                      <td class="col-style"  >{{projects[proyectname]['año']}}</td>
                      <td>{{projects[proyectname]['name']}} </td>
                      <td class="create-col-Style">
                            <div class="InfoCard_tag">
                              <div   *ngFor="let tagname of getArrayToProyect(projects[proyectname]['tags'])" >
                                  <!-- <app-tag [tagName]='tagname' ></app-tag> -->
                              </div>
                          </div>
                       </td>
                      <!-- <td><a class="linkStyleTable" () href="projects[proyectname]['link']" > {{projects[proyectname]['link']}}  <div>→</div> </a></td> -->
                      <td> <app-link-comp></app-link-comp> </td>
                       
                    </tr>                
                  </table>

                <!-- movil version  -->
                  <ng-template  #elseBlock >  
                    <table >
                    <tr class="encabezado">
                      <th >Año</th>
                      <th>Project</th>                      
                      <th>Link</th>
                    </tr>
                    <tr *ngFor="let proyectname of getProyects()">
                      <td >{{projects[proyectname]['año']}}</td>
                      <td>{{projects[proyectname]['name']}} </td>
                      
                      <!-- <td><a class="linkStyleTable" () href="projects[proyectname]['link']" > {{projects[proyectname]['link']}}  <div>→</div> </a></td> -->
                      <td> <app-link-comp></app-link-comp> </td>
                       
                    </tr>                
                  </table> </ng-template>
            </div>
           


        </div>

</div>