@import  './../index/index.component.css';
@import  './../card-proyect/card-proyect.component.css';
/* @import  './../link-comp/link-comp.component.css'; */

/*  font-family: 'Poppins_bold', sans-serif;  */

/* DESKTOP VERSION */
@media (min-width: 767px) {
  .compTable{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top:  100px;    

}
}
/* MOVIL VERSION */

@media (max-width: 767px) {

  .compTable{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top:  50px;    

}
}


  table {
    border-collapse: collapse;
  }
  td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.184);
    width: 300x; 
    height: 50px;
 
}

    th{
    border-bottom: 1px solid rgba(255, 255, 255, 0.184);
    width: 300px; 
    height: 50px;

    }
  
    .encabezado {
    
        text-align: left;
        
    }

    .linkStyle{
      color: rgb(201, 201, 201);
    
    }
    .linkStyle:hover{
      color: rgb(0, 255, 102);
    }

    .linkStyleTable{
      color: rgb(201, 201, 201);
   
      display: flex;
      flex-direction: row;
  
    }


    .tittleDetails{
      font-size: 60px;
      margin: 0;
      margin-bottom: 40px;
    }

    .col-style{
      font-size: small;
      color: rgb(148 , 163 , 184);
      width: 50px; 
      /* display: inline-table; */
    }

    .date-Style{
      width: 50px; 
    }


    h2{
      margin: 0;
    }


    /* animation arrow  come back page Details*/
    .details_ArrowAnimation{
      position: relative;
      left: -10px;
      top:  5px; 
      transition: left 0.2s ease  ;
      width: 1.5vw;
      height: 1.5vh;
      font-family:  'Inter', sans-serif; 
      font-size: 20px;
      
      }
      
      
      .details_MoveArrowAnimation{ 
          left: -20px;  
          /* top:  -4px;  */
          }
      