@import  './../index/index.component.css';
@import  './../card-proyect/card-proyect.component.css';

/* DESKTOP VERSION */
@media (min-width: 767px) {
  .compTable{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top:  100px;    

}
}
/* MOVIL VERSION */

@media (max-width: 767px) {

  .compTable{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top:  50px;    

}
}


  table {
    border-collapse: collapse;
  }
  td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.184);
    width: 180px; 
    height: 50px;
 
}

    th{
    border-bottom: 1px solid rgba(255, 255, 255, 0.184);
    width: 100px; 
    height: 50px;

    }

    .encabezado {
    
        text-align: left;
        
    }

    .linkStyle{
      color: rgb(0, 255, 102);
    }

    .linkStyleTable{
      color: rgb(201, 201, 201);
   
      display: flex;
      flex-direction: row;
  
    }


    .tittleDetails{
      font-size: 60px;
    }