.linkContainer{
    color: rgb(201, 201, 201);
   
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;

}

.linkContainer:hover{
    color: rgb(0, 255, 102);
}

.linkComparrowAnimation{
position: relative;
left: 5px;
top:  1px; 
transition: left 0.2s ease , top 0.2s ease ;
/* transition: top 0.3s ease-in; */
width: 1.5vw;
height: 1.5vh;
font-family:  'Inter', sans-serif; 
font-size: 20px;

}


.linkCompMoveArrowAnimation{ 
    left: 10px;  
    top:  -4px; 
    }

