.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  @keyframes fade-in {

    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
      }
      /* 50%{
        opacity: 1;
        visibility: visible;

      } */

      100% {
        opacity: 1;
        visibility: visible;
        transform: translatey(0);
      }
      
  }

  @keyframes slide-in {
    0% {
      transform: translateY(500%);
    }
    100% {
        transform: translatey(0);
    }
  }
  
  .left-element {
    /* Estilos para el elemento izquierdo */
 
    position: relative;
    left:5%;  
    margin-bottom: 30px;

    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s forwards;
    width: 50%;

    /* animation: slide-in 1s forwards; */
}


.left-element:nth-child(1) {
    animation-delay: 0s;
  }
  
  .left-element:nth-child(3) {
    animation-delay: 1s;
  }
  .left-element:nth-child(5) {
    animation-delay: 2s;
  }

  
  .right-element {
    /* Estilos para el elemento derecho */
    position: relative;
    left:50%;
    margin-bottom: 30px;

    opacity: 0;
    visibility: hidden;
    animation: fade-in 2s forwards;
    /* overflow: hidden; */
    width: 50%;
  }



  .right-element:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .right-element:nth-child(4) {
    animation-delay: 1.5s;
  }
  .right-element:nth-child(6) {
    animation-delay: 2.5s;
  }



  .tag-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 0.5fr));
    grid-gap: 10px;

  }


  .skill-inf{    
    border-radius: 20%;

    text-align: center; 
    border-color: black;
    border: 2px solid turquoise;
    background-size: 150%;


  }

