<!-- <p>start works!</p> -->

<div class="container">
    <div class="left-element">
        <h3 style="font-weight: bold;" >Acerca de mi </h3>
        <p>
            Profesor de tecnología, Indi Dev game y Full Stack Web Developer en HENRY, con conocimiento <br>
            en: JavaScript, HTML, CSS, Git / GitHub, React / React-hooks / React-Redux, NodeJS, Express <br>
            JS, GraphQL, Metodología SCRUM, Firebase, C#, Unity.<br>
            <br>
            Profesional con gran apertura a nuevos aprendizajes, proactivo, motivado, innovador, orientado<br>
            a resultados, motivación por el logro y trabajo en equipo con capacidad para integrar grupos<br>
            profesionales multidisciplinarios en busca de una meta común.<br>
            <br>
            Con destacadas habilidades de comunicación efectiva, de rápida adaptación a diferentes tareas<br>
            laborales y una clara disposición al cumplimiento de tareas.<br>
            <br>

            ✉️ - ness.cero1@gmail.com<br>
            𝗚𝗶𝘁𝗵𝗨𝗕 - https://github.com/NessDisk
        </p>
    </div>
    <div class="right-element">
        <h3 style="font-weight: bold;" >Foto</h3>
    
        <img  height="200" src="assets\img\3.jpg"  width="180" alt="Null" >
    </div>
    <div class="left-element">
        
        Experience

    </div>
    <div class="right-element">
        <h3>skill</h3>
        <div class="tag-skills">

        <h5 class="skill-inf">Angular</h5>
        <h5 class="skill-inf">React</h5>
        <h5 class="skill-inf">Firebase</h5>
        <h5 class="skill-inf">Javascrip</h5>
        <h5 class="skill-inf">C#</h5>
        <h5 class="skill-inf">Java</h5>
        <h5 class="skill-inf">Springboob</h5>
        <h5 class="skill-inf">Mysqul</h5>
        <h5 class="skill-inf">Unity</h5>
        <h5 class="skill-inf">Html</h5>
        <h5 class="skill-inf">Scrum</h5>
        <h5 class="skill-inf">GitHub</h5>

        
    </div></div>
    <div class="left-element">
        Redes
        <p>
           <a href="https://www.linkedin.com/in/nestor-solera-091a751a9/"> linkeding </a>   <br>
           <a href="https://www.youtube.com/@wessdevdiary321/videos"> Youtube </a>   
           
        </p>

    </div>
    <div class="right-element">Contacto
        <p>
             Cell:3208602308 -3042136263
             Mail: ness.cero1@gmail.com              
         </p>

    </div>

  </div>

