.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
  }


  @keyframes fade-in {

    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
      }
      /* 50%{
        opacity: 1;
        visibility: visible;

      } */

      100% {
        opacity: 1;
        visibility: visible;
        transform: translatey(0);
      }
      
  }

  @keyframes slide-in {
    0% {
      transform: translateY(500%);
    }
    100% {
        transform: translatey(0);
    }
  }
  
  .left-element {
    /* Estilos para el elemento izquierdo */
 
    position: relative;
    left:5%;  
    margin-bottom: 30px;

    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s forwards;
    width: 50%;

    /* animation: slide-in 1s forwards; */
}


.left-element:nth-child(1) {
    animation-delay: 0s;
  }
  
  .left-element:nth-child(3) {
    animation-delay: 1s;
  }
  .left-element:nth-child(5) {
    animation-delay: 2s;
  }

  
  .right-element {
    /* Estilos para el elemento derecho */
    position: relative;
    left:50%;
    margin-bottom: 30px;

    opacity: 0;
    visibility: hidden;
    animation: fade-in 2s forwards;
    /* overflow: hidden; */
    width: 50%;
  }



  .right-element:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .right-element:nth-child(4) {
    animation-delay: 1.5s;
  }
  .right-element:nth-child(6) {
    animation-delay: 2.5s;
  }



  .tag-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 0.5fr));
    grid-gap: 10px;
    

  }


  .skill-inf{    
    border-radius: 20%;

    text-align: center; 
    border-color: black;
    border: 2px solid turquoise;
    background-size: 150%;
    background-color: rgb(25, 103, 103);
  }
  .skill-inf:hover {
    transform: scale(1.05);
  }
  /* -------------------- */
/* cards */


.card-element{
  background-color:  rgb(77, 77, 77);
  background-size: 300px 200px;
  padding: 5%;
  border: 5px solid transparent;
  border-top-color: #00000039;
  border-bottom-color: #0000004e;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgba(69, 69, 69, 0.112);
  border-radius: 20px;
  transition: transform 0.3s ease;
  
}
.card-element:hover {
  transform: scale(1.05);
}
img {
  
  /* width: 100%; */
  border: 3px groove rgb(255, 255, 255);
  padding: 1%;
  /* Otros estilos que desees aplicar */
}

.icon_link{
  border: none;
  position: relative;
  top: 3px;
}

