<!-- <p>start works!</p> -->

<div class="container">
    <div class="left-element">
        <h3 style="font-weight: bold;" >Acerca de mi </h3>
        <p>
            Profesor de tecnología, Indi Dev game y Full Stack Web Developer en HENRY, con conocimiento <br>
            en: JavaScript, HTML, CSS, Git / GitHub, React / React-hooks / React-Redux, NodeJS, Express <br>
            JS, GraphQL, Metodología SCRUM, Firebase, C#, Unity.<br>
            <br>
            Profesional con gran apertura a nuevos aprendizajes, proactivo, motivado, innovador, orientado<br>
            a resultados, motivación por el logro y trabajo en equipo con capacidad para integrar grupos<br>
            profesionales multidisciplinarios en busca de una meta común.<br>
            <br>
            Con destacadas habilidades de comunicación efectiva, de rápida adaptación a diferentes tareas<br>
            laborales y una clara disposición al cumplimiento de tareas.<br>
            <br>

            ✉️ - ness.cero1@gmail.com<br>
            𝗚𝗶𝘁𝗵𝗨𝗕 - https://github.com/NessDisk
        </p>
    </div>
    <div class="right-element">
        <h3 style="font-weight: bold;" >Foto</h3>
    
        <img  height="200" src="assets\img\3.jpg"  width="180" alt="Null" >
    </div>
    <div class="left-element">Habilidades</div>
    <div class="right-element">Experiencia</div>
    <div class="left-element">Redes</div>
    <div class="right-element">Contacto</div>

  </div>