
<div class="card_logo" id="mi-elemento">  
  <div  class="polygon_2">
    <img    src="assets\img\logo\logo.PNG"  class="Logo"  alt="Null" > 
    
  </div>

  <div class="DarkMode" style="color: white;">
  <div>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="switchState" (change)="toggleDarkMode()">
      <span class="slider"></span>
    </label>
    <div class="Darkmode-text"> DARKMODE </div>      
  </div>
<div>

  <label class="switch">
    <input type="checkbox" [(ngModel)]="switchStateIdioms" (change)="idioms()">
    <span class="slider"></span>
  </label>
  <div class="Darkmode-text"> Esp / Eng </div>  
</div>
  </div>


  
</div>
<nav  [class.visible]="isNavbarVisible" >
    <!-- <div ></div> -->
    <ul  class="panel">
      <li><a routerLink="/">Start</a></li>
      <li><a routerLink="/react">React</a></li>
      <li><a routerLink="/angular">Angular</a></li>
      <li><a routerLink="/unity">Unity </a></li>
    </ul>
  </nav>