/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  nav {
    position: fixed;
    top: 5%;
    left: 15%;
    z-index: 1000;
    font-size: 70%;
    opacity: 0.1;
    transition: opacity 0.3s ease;
  }
  .DarkMode{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 
  
    }
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 768px) {
  nav {
    position: fixed;
    top: 5%;
    left: 25%;
    z-index: 1000;
    font-size: 200%;
    opacity: 0.1;
    transition: opacity 0.3s ease;
  }
  .DarkMode{
    margin-top: 10px;
    display: flex;
    flex-direction: column;    
    }
}


.card_logo{
  background-color: #000000;
  margin-bottom: 10px;
  border-radius:10px ;
  display: flex;
  justify-content: space-between;
}



.Logo{
width: 30%;
border: none;
}

/* --- */

  nav:hover {
    opacity: 1;
  }
  nav.visible {
    opacity: 1;
  }

  .panel {

    background-color: rgb(255, 255, 255); 
    z-index: -1; 
    border-radius: 10px; 
    border: 2px solid rgb(112, 112, 112);
  
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    display: flex;
  }
  
  li {
    /* margin-right: 10px;
    margin-left: 10px; */
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 35px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* background-color: #f2f2f2; */
    /* color: #333; */
  }
  
  a:hover {
    background-color: #e6e6e6; /* Color de fondo cuando se pasa el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
  }
  /* --------DarkMode------- */ 


  .Darkmode-text{
position: relative;
right: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-size: contain ;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
  }
  
  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
  }