/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0f172a;
    color: white;
    /* margin-top: 200px; */
  }


  .dark-mode {
    background-color: #1e1e1e;
    color: #fff;
    /* Agrega aquí los estilos adicionales para el modo oscuro */
  }

  a {
    text-decoration: none;
  }


  @font-face {
    font-family: 'RobotoCondensed-Bold'; 
    src: url('../src/assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
    
  }

  @font-face {
    font-family: 'Poppins'; 
    src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf'); 
    
  }

  @font-face {
    font-family: 'Poppins_light'; 
    src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');   
  }

  @font-face {
    font-family: 'Poppins_bold'; 
    src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');   
  }

  @font-face {
    font-family: 'Inter'; 
    src: url('../src/assets/fonts/Inter/Inner-12/Desktop/Inter-Light.ttf ');   
  }
  @font-face {
    font-family: 'Inter_Bold'; 
    src: url('../src/assets/fonts/Inter/Inner-12/Desktop/Inter-Bold.ttf ');   
  }
  body{
    font-family: 'Poppins_light', sans-serif;
  }