/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ffffff;
    /* margin-top: 200px; */
  }


  .dark-mode {
    background-color: #1e1e1e;
    color: #fff;
    /* Agrega aquí los estilos adicionales para el modo oscuro */
  }