<p>react works!</p>
<div class="container">
<div  class="left-element">
   Proyecto 1 <br>
   videos  <br>
   github <br>
   Tecnologias

</div>
<div class="right-element">
    Proyecto 2 <br>
    videos  <br>
    github <br>
    Tecnologias
</div>
<div  class="left-element">
    Proyecto 1 <br>
    videos  <br>
    github <br>
    Tecnologias
 
 </div>
 <div class="right-element">
     Proyecto 2 <br>
     videos  <br>
     github <br>
     Tecnologias
 </div>
 <div  class="left-element">
    Proyecto 1 <br>
    videos  <br>
    github <br>
    Tecnologias
 
 </div>
 <div class="right-element">
     Proyecto 2 <br>
     videos  <br>
     github <br>
     Tecnologias
 </div>

</div>