<!-- <p>react works!</p> -->
<div class="container">
   
<div  class="left-element">
   <div class="card-element"> 
    Proyecto individual <br>
   <img src="assets\img\api-paises.png" alt="" style="height: 100%; width: 100%; "><br>
   <a href="https://github.com/NessDisk/PI-Countries-main">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>
   Tecnologias: Javascript, Node/express, Postgress Sql. css html
</div>
</div>
<div class="right-element">
   <div class="card-element"> 
    Proyecto grupal <br>
    <img src="assets\img\e-comerce.PNG" alt="" style="height: 100%; width: 100%; "><br>
       <a href="https://pg-henry-grupo6.vercel.app/">   <img  height="15" src="assets\img\icons\shuttle.png" class="icon_link" alt="Null" > </a> Deploy   
    <a href="https://github.com/Gross-Franco/E-Commerce">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>
    Tecnologias: Javascript, Node/express, Postgress Sql. css html, Bootstrack <br>
    Aporte: Colabore en el Login del proyecto en Front-end y el Back-end. <br>
     Realice los estilos y la vista.  También cree una parte importante del <br>
     perfil del usuario. Trabaje en la vista de los detalles del producto <br>
     y las reviewer de producto.    
   </div>
</div>
<div  class="left-element">
   <div class="card-element"> 
   Whatzapp-c <br>
    <img src="assets\img\whatzapp-web.PNG" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href="https://whats-app-clone-cyan.vercel.app/rooms/-N2Ea_h6CAnt37pz6HwT">   <img  height="15" src="assets\img\icons\shuttle.png" class="icon_link" alt="Null" > </a> Deploy   
    <a href="https://github.com/NessDisk/WhatsApp-clone">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>
    Tecnologias: Javascript, Node/express,  css, html, Firebase <br>
 
   </div>
 </div>

 <div  class="right-element">
   <div class="card-element">  
   Google-c <br>
    <img src="assets\img\Google-c.PNG" alt="" style="height: 100%; width: 100%; "><br>
  
    <a href="https://google-clone-tau-liard.vercel.app/">   <img  height="15" src="assets\img\icons\shuttle.png" class="icon_link" alt="Null" > </a> Deploy   
    <a href="https://github.com/NessDisk/Google-clone">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>

    Tecnologias: Javascript, Node/express, css, html, Firebase <br>
 
   </div>
 </div>
 <div class="left-element">
   <div class="card-element"> 
   Quiz  <br>
     <img src="assets\img\quiz-app.PNG" alt="" style="height: 100%; width: 100%; "><br>
     <a href="https://quizz-app-kappa.vercel.app/">   <img  height="15" src="assets\img\icons\shuttle.png" class="icon_link" alt="Null" > </a> Deploy   
     <a href="https://github.com/NessDisk/QuizzApp">   <img  height="15" src="assets\img\icons\github.png" class="icon_link" alt="Null" > </a> GitHub   <br> <br>

     Tecnologias: Javascript, css, html <br>
     Aporte: 
     <div> 
   </div>

</div>