<!-- <p>react works!</p> -->
<div class="container">
<div  class="left-element">
    Proyecto individual <br>
   <img src="assets\img\api-paises.png" alt="" style="height: 100%; width: 100%; "><br>
   videos: <br>
   <a href="https://github.com/NessDisk/PI-Countries-main"> github</a>  <br>
   Tecnologias: Javascript, Node/express, Postgress Sql. css html

</div>
<div class="right-element">
    Proyecto grupal <br>
    <img src="assets\img\e-comerce.PNG" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href=" https://pg-henry-grupo6.vercel.app/">Deploy</a> <br>
    <a href="https://github.com/Gross-Franco/E-Commerce"> github</a>  <br>
    Tecnologias: Javascript, Node/express, Postgress Sql. css html, Bootstrack <br>
    Aporte: Colabore en el Login del proyecto en Front-end y el Back-end. <br>
     Realice los estilos y la vista.  También cree una parte importante del <br>
     perfil del usuario. Trabaje en la vista de los detalles del producto <br>
     y las reviewer de producto.    

</div>
<div  class="left-element">
    Whatzapp-c <br>
    <img src="assets\img\whatzapp-web.PNG" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href=" https://whats-app-clone-cyan.vercel.app/rooms/-N2Ea_h6CAnt37pz6HwT">Deploy</a> <br>
    <a href="https://github.com/NessDisk/WhatsApp-clone"> github</a>  <br>
    Tecnologias: Javascript, Node/express,  css, html, Firebase <br>
 
 </div>

 <div  class="right-element">
    Google-c <br>
    <img src="assets\img\Google-c.PNG" alt="" style="height: 100%; width: 100%; "><br>
    videos: <br>
    <a href=" https://google-clone-tau-liard.vercel.app/">Deploy</a> <br>
    <a href="https://github.com/NessDisk/Google-clone"> github</a>  <br>
    Tecnologias: Javascript, Node/express, css, html, Firebase <br>
 
 
 </div>
 <div class="left-element">
    Quiz  <br>
     <img src="assets\img\quiz-app.PNG" alt="" style="height: 100%; width: 100%; "><br>
     videos: <br>
     <a href=" https://quizz-app-kappa.vercel.app/">Deploy</a> <br>
     <a href="https://github.com/NessDisk/QuizzApp"> github</a>  <br>
     Tecnologias: Javascript, css, html <br>
     Aporte: 
 </div>

</div>